<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>NPS Locator</title>
    <link rel="icon" href="favicon.png">

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="static/bootstrap.min.css" media="screen">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="static/styles.css" media="screen">

  </head>

  <body>
    <!-- Start of navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-custom">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="col-xs-9 phone-nav">
              <a class="navbar-brand" href="index.html" id="logo">National Parks Recommender +</a>
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Smart Recommender <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="landscape">Landscape</a></li>
                  <li><a href="climate">Climate</a></li>
                  <li><a href="activities">Activities</a></li>
                  <li><a href="recommendation.html">Recommender</a></li>
              </ul>
            </li>
             <li><a href="comparison.html">Weather</a></li>
              <li><a href="map.html">Maps</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->

    <!-- Start of container -->
    <div class="container">
      <section class="row">
        <div class="col-md-8">
          <article class="description-content">
            <h1 class="description-header">Landscape - Forest</h1>
            <hr class="description-hr"/>
            <img src="static/assets/images/landscape-forest.png" alt="" class="img-responsive"/>
            <p>You chose a forest landscape. We show that this is one of the most popular selections based on our survey analysis. </p>
          </article>
        </div>
        <div class="col-md-4">

          <!-- Start of Visualizations imageNav Area -->
          <section id="imageNav-area">
            <div class="imageNav-content">
              <h2 class="imageNav-header">Recommender Tool Pick Desired Climate</h2>
              <hr />
              <div id="images">
                <a href="climate-hot.html"><img src="static/assets/images/climate-hot.png" alt="Hot" class="imageNav-photo active"></a>
                <a href="climate-cold.html"><img src="static/assets/images/climate-cold.png" alt="Cold" class="imageNav-photo"></a>
                <a href="climate-rain.html"><img src="static/assets/images/climate-rain.png" alt="Rain" class="imageNav-photo"></a>
                <a href="climate-snow.html"><img src="static/assets/images/climate-snow.png" alt="Snow" class="imageNav-photo"></a>
              </div>
            </div>
          </section>
          <!-- End of the Visualizations imageNav Area -->

        </div>
      </section>
    </div>
    <!-- End of container -->

    <!-- Start of footer -->
    <footer class="footer navbar-fixed-bottom">
      <div class="two-toned-footer-color"></div>
      <p class="text-muted text-muted-footer text-center">
        &copy; Copyright HEMKK Data Team 2020
      </p>
    </footer>
    <!-- End of footer -->

    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>

</html>
